
.modal {
    -webkit-box-shadow: 0px 7px 86px -12px rgba(122, 122, 122, 1);
    -moz-box-shadow: 0px 7px 86px -12px rgba(122, 122, 122, 1);
    box-shadow: 0px 7px 86px -12px rgba(122, 122, 122, 1);
    border-radius: 5px;
}

.ion-android-add-circle {
    font-size: 30px;
    margin-right: 20px;
}

.ion-plus-circled {
    margin-right: 20px;
    font-size: 30px;
}

.ion-edit {
    font-size: 30px;
    margin-right: 20px;
}

.ion-checkmark-circled {
    font-size: 30px;
    margin-right: 20px;
}

.title {
    color: #0c60ee;
}

.song-cover-show img {
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

.block-play img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    height: 50px;
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);

}

.option-play {
    height: 50px;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    background-color: #387ef5;
}

.volume-block{
    width: auto;
    height: 50px;
    margin: 0 auto;
    margin-top: 5px;
    line-height: 50px;
    background-color: #387ef5;
    margin-bottom: 15px;
}
.range{
    background-color: darkgreen;
}

.ion-ios-rewind{
    color: white;
    font-size: 30px;
    float: left;
    margin-left: 30px;
}

.ion-ios-fastforward{
    color: white;
    font-size: 30px;
    float: right;
    margin-right: 30px;
}
.ion-ios-play{
    color: white;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    /*position: absolute;*/
}
.ion-ios-pause{
    color: white;
    font-size: 30px;
    text-align: center;
    /*display: none;*/
    cursor: pointer;
    /*position: absolute;*/
}